/*fuente Raleway y background del Body*/
body{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  background-color: black;
}


html {
  scroll-behavior: smooth;
}


