/*fuente Raleway y background del Body*/
body{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  background-color: black;
}
img:hover {
  opacity: 1.0;
  border: solid #747e76;
}

